{% extends 'forum-base.html' %}

{% block preforum%}

<div class="col-md-4">
  <div class="content">
    {% if user.is_authenticated %}
    <h2>Welcome Back! <a href="{% url 'posts:for_user' username=user.username%}">
      @{{user.username}}</a></h2>
    {% endif %}
    <h2>Forums</h2>
    <p>Welcome to forum page</p>
  </div>
  {% if user.is_authenticated %}
  <a href="{% url 'forum:create' %}" class="btn btn-warning">
    <span class="glyphicon glyphicon-plus-sign">Create new forum</span>
  </a>
  {% endif %}
</div>

{% endblock %}

{% block contentforum%}
<div class="col-md-8">
  <div class="list-group">
    {% for forum in object_list %}
    <a class="list-group-item" href="{% url 'forum:single' slug=forum.slug %}">
      <h3 class="title list-group-item-heading">{{forum.name}}</h3>
      <div class="list-group-item-text container-fluid">
        {{forum.description_html|safe}}
        <div class="row">
          <div class="col-md-4">
            <span class="badge">{{forum.members.count}}</span>
            member{{forum.members.count|pluralize}}
          </div>
          <div class="col-md-4">
            <span class="badge">{{forum.posts.count}}</span>
            post{{forum.posts.count|pluralize}}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}

  </div>
</div>
{% endblock %}
